*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{  font-size: 1.25em;}
ul{  list-style: none;}
li{  font-size: 1.25;}



body{
    font-family: 'Roboto', sans-serif;
    margin: 0;

}


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(92, 29, 151);
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(245,245,245);    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: center;

}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;

}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)  
    )
    ,url("Imagenes/Imagenes/MexicoFondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero h1{
    color: white; 
}

#Mexico .container{
    text-align: center;
    padding: 200px 12px;
}

#Nuestro-Mexico{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}


#Nuestro-Mexico .container{
    padding: 150px 12px;
  
}

#Nuestro-Mexico h2{
    margin-top: 0;

}

#Nuestro-Mexico p{
    display: none;
}

#Nuestro-Mexico .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;

}

.carta:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)  
    )
    ,url("Imagenes/Imagenes/Mexico\ Historia.jpg"); 

}

.carta:nth-child(2){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)  
    )
    ,url("Imagenes/Imagenes/Gastronomia.jpg"); 



}

.carta:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)  
    )
    ,url("Imagenes/Imagenes/Conabi.jpg"); 


}

.carta:last-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)  
    )
    ,url("Imagenes/Imagenes/Personajes.jpg"); 
}

#Mas-Info .container{
    text-align: center;
    padding: 250px 12px;
}

#Mas-Info li{
    margin: 16px 0px;
    font-weight: bold;

}

